*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --clr-primary: #008f70;
  --clr-accent: #93a0ff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em,
    0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
}

img {
  display: block;
}

section {
  padding: 5em 2em;
}

/* Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}

.logo {
  max-width: 100px;
  cursor: pointer;
  margin-right: auto;
}

nav {
  flex: 1;
  text-align: right;
}

.nav__links {
  list-style: none;
  display: inline-block;
}

.nav__links li {
  display: inline-block;
  margin-right: 30px;
}

.nav__links li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--clr-accent);
}

/* Intro */

body {
  background-color: var(--clr-primary);
}

@media (min-width: 1000px) {
  .video-container {
    display: grid;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "title video"
      "subtitle video";
    width: 1000px;
  }
}

.video__title {
  grid-area: title;
  margin-top: 5em;
}

.video__subtitle {
  grid-area: subtitle;
  margin-bottom: 5em;
}

.video {
  grid-area: video;
  height: auto;
  width: 100%;
}

/* Promo */

.promo__container {
  display: grid;
  margin: 0 auto;
  grid-column-gap: 2em;
  grid-template-areas:
    "img title"
    "img subtitle";
}

.promo__title {
  grid-area: title;
}

.promo__subtitle {
  grid-area: subtitle;
}

.promo__img {
  grid-area: img;
  width: 100%;
}

/* Benefits */

.benefits__container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.benefits__img {
  width: 50%;
}

/* Model */

.model__container {
  display: flex;
}

.model__img {
  width: 50%;
  margin: 0 2em;
}
